<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for post in site.posts limit:include.limit %}
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6" >
                    <a href="{{  post.url | prepend: site.url }}" ><img src="{{ "//assets/img/blog/" | prepend: site.url }}{{ post.img }}" alt=""></a>
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
