<div class="col-lg-4">

    <h4>Subscribe</h4>
    <div class="hline"></div>
        <p>
            <p class="rss-subscribe">Subscribe to this podcast <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> (mp3).</p>
            <p class="rss-subscribe">Subscribe to this podcast <a href="{{ "/feed_ogg.xml" | prepend: site.baseurl }}">via RSS</a> (ogg).</p>
            <div id="androidbanner"></div>
            <section id="androidbanner"></section>
            <script>
            var ua = navigator.userAgent.toLowerCase();
            var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
            if(isAndroid) {
            var d1 = document.getElementById('androidbanner');
            d1.insertAdjacentHTML('afterend', '<p><a href="http://subscribeonandroid.com/flossforscience.github.io/feed.xml" title="Subscribe on Android"><img src="{{ "/assets/img/SubscribeAndroid.png" | prepend: site.baseurl }}" alt="Subscribe on Android" style="border:0;" /></a></p>');
            }
            </script>
            <p><a href='https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;apn=com.google.android.music&amp;link=https://play.google.com/music/m/Ilzc3ciwieqpa67vshc7m2dwcqy?t=Free_and_Libre_Open_Source_Software_for_Science&pcampaignid=MKT-na-all-co-pr-mu-pod-16' rel='nofollow'><img width='125px' alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a></p>
            <p><a href='https://itunes.apple.com/ca/podcast/free-and-libre-open-source-software-for-science/id1335037535?mt=2&ls=1' rel='nofollow'><img  alt='Listen on Itunes' src="{{ "/assets/img/apple.png" | prepend: site.baseurl }}"></a></p>
            <p><a href='https://www.iheart.com/podcast/269-FLOSS-for-Science-29155751' rel='nofollow'><img  width='135px' alt='Listen on iHeartRadio' src="{{ "/assets/img/Listen_On_iHeartRadio_135x40_buttontemplate-01.png" | prepend: site.baseurl }}"></a></p>
	    <p><a href='http://stitcher.com/s?fid=164365&refid=stpr' rel='nofollow'><img  width='135px' alt='Listen on Stitcher' src="{{ "/assets/img/stitcher-badge.svg" | prepend: site.baseurl }}"></a></p>
         
        </p>
    <div class="spacing"></div>
    <h4>Categories</h4>
    <div class="hline"></div>
    {% for category in site.categories %}
        <p>
            <a href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}"><i class="fa fa-angle-right"></i> {{ category | first | capitalize }}</a>
            <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
        </p>
    {% endfor %}

    <div class="spacing"></div>

    <h4>Recent Episodes</h4>
    <div class="hline"></div>
        <ul class="popular-posts">
            {% for post in site.posts limit:4 %}
                <li>
                    <a href="{{ post.url  | prepend: site.baseurl }}"><img src="{{ "/assets/img/blog/thumbs/" | prepend: site.baseurl }}{{ post.thumb }}" alt="Popular Post"></a>
                    <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                <em>Posted on {{ post.date | date_to_string }}</em>
            </li>
            {% endfor %}
        </ul>

    <div class="spacing"></div>

    <h4>Popular Tags</h4>
    <div class="hline"></div>
    <p>
    {% for category in site.categories %}
            <a class="btn btn-theme" href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}" role="button">{{ category | first | capitalize }} ({{ category | last | size }})</a>
        {% endfor %}
    </p>
</div>
